<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="SodoQuizz"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Link de invitație prieteni: guessit://addfriend/<cod> — schemă
                 proprie, nu Android App Link, ca să nu ceară assetlinks.json
                 găzduit pe GH Pages (vezi docs/deploy). Ținta e citită în
                 main.dart, GuessItApp._listenForDeepLinks, cu pachetul app_links. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="guessit" android:host="addfriend"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- ECRAN NEGRU DUPĂ LOGIN GOOGLE — reparat aici, nu în cod Dart.
             Simptom: după ce alegi contul în fereastra nativă Google, ecranul
             rămâne complet negru, dar muzica merge mai departe (deci aplicația
             trăiește, doar desenul e mort). Doar o repornire completă îl
             recuperează; backgrounding sau hot-reload NU.
             Cauza: renderer-ul Impeller (Vulkan) al Flutter, pe GPU-uri Samsung
             Xclipse, pierde suprafața de desen când aplicația e readusă în
             față de o Activitate externă (fereastra Google e exact asta).
             `adb logcat` arată ciclul complet de resume+redraw, fără nicio
             excepție — Android crede că a desenat, dar nu se vede nimic.
             Fix: cădem înapoi pe Skia, care n-are acest mod de eșec. Costul e
             mic (Impeller e ceva mai rapid la animații), iar un ecran negru
             fără niciun mesaj e mult mai rău decât o pierdere mică de fps. -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <!-- AdMob App ID real, din consola AdMob (app "Sodo Quizz"). -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7925849908413802~7115439770"/>
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/game_services_project_id"/>
        <meta-data
            android:name="com.chunkytofustudios.firebase_auth_games_services.OAUTH_2_WEB_CLIENT_ID"
            android:value="@string/firebase_auth_oauth_2_web_client_id"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
